<div class="content-container">
  <div class="player-container">
    <div class="map-container">
      <button
        *ngFor="let item of playerMap"
        (click)="hit(item.row, item.column, 0)"
      >
        <div *ngFor="let url of item.imageUrls">
          <img src="{{ url }}" alt="" />
        </div>
      </button>
    </div>
    <button (click)="placePlayerShipsInOrder()">Ordered Positions</button>
  </div>
  <div class="player-container">
    <div class="map-container">
      <button
        *ngFor="let item of opponentMap"
        (click)="hit(item.row, item.column, 1)"
      >
        <div *ngFor="let url of item.imageUrls">
          <img src="{{ url }}" alt="" />
        </div>
      </button>
    </div>
    <button (click)="placeOpponentShipRandomly()">Random Positions</button>
  </div>
</div>
